version: "3.9"

services:
    radarr:
        image: lscr.io/linuxserver/radarr:latest
        container_name: radarr
        environment:
            - PUID=1000
            - PGID=1000
            - TZ=${TZ}
        volumes:
            - radarr:/config
            - torrents:/data/torrents
            - usenet:/data/usenet
        restart: unless-stopped
        networks:
            - traefik-public
        deploy:
            labels:
                - "traefik.enable=true"
                - "traefik.http.routers.radarr.rule=Host(`radarr.${BASE_DOMAIN}`)"
                - "traefik.http.routers.radarr.entrypoints=websecure"
                - "traefik.http.routers.radarr.tls.certresolver=dns"
                - "traefik.http.services.radarr.loadbalancer.server.port=7878"
                - homepage.group=Downloads
                - homepage.name=Radarr
                - homepage.icon=radarr.png
                - homepage.href=https://radarr.${BASE_DOMAIN}/
                - homepage.description=Movie Management
                - homepage.widget.type=radarr
                - homepage.widget.url=https://radarr.${BASE_DOMAIN}/
                - homepage.widget.key=${RADARR_API_KEY}

networks:
    traefik-public:
        external: true

volumes:
    radarr:
        driver: local
        driver_opts:
            type: "cifs"
            o: "username=${SMB_USERNAME},password=${SMB_PASSWORD},domain=${SMB_DOMAIN},vers=3.0,file_mode=0770,dir_mode=0770,uid=1000,gid=1000,soft,actimeo=30"
            device: "//${NAS_SERVER}/radarr"

    torrents:
        driver: local
        driver_opts:
            type: "cifs"
            o: "username=${SMB_USERNAME},password=${SMB_PASSWORD},domain=${SMB_DOMAIN},vers=3.0,file_mode=0770,dir_mode=0770,uid=1000,gid=1000,soft,actimeo=30"
            device: "//${NAS_SERVER}/torrents"

    usenet:
        driver: local
        driver_opts:
            type: "cifs"
            o: "username=${SMB_USERNAME},password=${SMB_PASSWORD},domain=${SMB_DOMAIN},vers=3.0,file_mode=0770,dir_mode=0770,uid=1000,gid=1000,soft,actimeo=30"
            device: "//${NAS_SERVER}/usenet"
