# Generated nginx template for portainer_agent
# HTTP to HTTPS redirect
server {
    listen 80;
    listen [::]:80;
    server_name ${DOMAIN_PORTAINER_AGENT};

    return 301 https://$host$request_uri;
}

# HTTPS server
server {
    listen 443 ssl;
    listen [::]:443 ssl;
    server_name ${DOMAIN_PORTAINER_AGENT};

    include /etc/nginx/conf.d/includes/ssl;

    location / {
        proxy_pass http://portainer_agent:9001;
    }

    access_log off;
    error_log  /var/log/nginx/error.log error;
}
