version: "3.9"

services:
    whisparr:
        image: ghcr.io/hotio/whisparr:latest
        container_name: whisparr
        environment:
            - PUID=1000
            - PGID=1000
            - UMASK=002
            - TZ=${TZ}
        volumes:
            - whisparr:/config
            - torrents:/data/torrents
            - usenet:/data/usenet
        restart: unless-stopped
        networks:
            - traefik-public
        deploy:
            labels:
                - "traefik.enable=true"
                - "traefik.http.routers.whisparr.rule=Host(`whisparr.${BASE_DOMAIN}`)"
                - "traefik.http.routers.whisparr.entrypoints=websecure"
                - "traefik.http.routers.whisparr.tls.certresolver=dns"
                - "traefik.http.services.whisparr.loadbalancer.server.port=6969"
                - homepage.group=Downloads
                - homepage.name=Whisparr
                - homepage.icon=whisparr.png
                - homepage.href=https://whisparr.${BASE_DOMAIN}/
                - homepage.description=Adult Content Management
                - homepage.widget.type=whisparr
                - homepage.widget.url=https://whisparr.${BASE_DOMAIN}/
                - homepage.widget.key=${WHISPARR_API_KEY}

networks:
    traefik-public:
        external: true

volumes:
    whisparr:
        driver: local
        driver_opts:
            type: "cifs"
            o: "username=${SMB_USERNAME},password=${SMB_PASSWORD},domain=${SMB_DOMAIN},vers=3.0,nobrl,file_mode=0770,dir_mode=0770,uid=1000,gid=1000,soft,actimeo=30"
            device: "//${NAS_SERVER}/whisparr"

    torrents:
        driver: local
        driver_opts:
            type: "cifs"
            o: "username=${SMB_USERNAME},password=${SMB_PASSWORD},domain=${SMB_DOMAIN},vers=3.0,file_mode=0770,dir_mode=0770,uid=1000,gid=1000,soft,actimeo=30"
            device: "//${NAS_SERVER}/torrents"

    usenet:
        driver: local
        driver_opts:
            type: "cifs"
            o: "username=${SMB_USERNAME},password=${SMB_PASSWORD},domain=${SMB_DOMAIN},vers=3.0,file_mode=0770,dir_mode=0770,uid=1000,gid=1000,soft,actimeo=30"
            device: "//${NAS_SERVER}/usenet"
